</div>
<!-- end page content /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- Footer -->
<%- include('layouts/footer') %>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<%- include('layouts/scripts.ejs') %>
</body>
</html>